
  <!--Angularjs modules-->
  <script src="/node_modules/angular/angular.js"></script>
  <script src="/node_modules/angular-animate/angular-animate.js"></script>
  <script src="/node_modules/angular-route/angular-route.min.js"></script>
  
   <!--SocioCortex modules-->
  <script src="/node_modules/angular-resource/angular-resource.js"></script>
  <script src="/node_modules/ngstorage/ngStorage.js"></script>
  <script src="/src/lib/sc-angular/dist/sc-angular.js"></script>
  
  <!--Application modules-->
  <script src="/app.js"></script>
  <script src="/src/components/Search/SearchCtrl.js"></script>
  <script src="/src/components/Result/ResultCtrl.js"></script>
  <script src="/src/components/Services/searchService.js"></script>