<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/src/style/style.css">
  <link rel="stylesheet" href="/src/style/upload.css">
  <link rel="stylesheet" href="/src/style/toggle.css">
  <link rel="stylesheet" href="/src/style/dropzone.css">

  <link rel="stylesheet" href="/src/style/timeline.css">
  <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="/src/lib/sweetalert2/sweetalert2.min.css">
  <script src="/src/lib/sweetalert2/sweetalert2.min.js"></script>
  
  <link rel="stylesheet" href="/src/lib/Datepicker/bootstrap-datepicker.css">
  