  <!--jquery modules-->
  <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
  
  <!--Bootstrap modules-->
  <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  
  <!--sweetalert2 modules-->
  <script src="/src/lib/sweetalert2/sweetalert2.min.js"></script>
  
  
  <!--Angularjs modules-->
  <script src="/node_modules/angular/angular.js"></script>
  <script src="/node_modules/angular-animate/angular-animate.js"></script>
  <script src="/node_modules/angular-route/angular-route.min.js"></script>
  
   <!--SocioCortex modules-->
  <script src="/node_modules/angular-resource/angular-resource.js"></script>
  <script src="/node_modules/ngstorage/ngStorage.js"></script>
  <script src="/src/lib/sc-angular/dist/sc-angular.js"></script>
  
  <!--Application modules-->
  <script src="/app.js"></script>
  <script src="/src/components/Search/SearchCtrl.js"></script>
  <script src="/src/components/Result/ResultCtrl.js"></script>
  <script src="/src/components/Result/TimelineCtrl.js"></script>
  <script src="/src/components/Upload/uploadCtrl.js"></script>
  <script src="/src/components/Factories/searchFactory.js"></script>
  <script src="/src/components/Factories/uploadFactory.js"></script>
  <script src="/src/components/Services/filterService.js"></script>

  <!--Dropzone-->
  <script src="/src/lib/dropzone/dropzone.min.js"></script>

  <!--Datepicker-->
  <!--<script src="/src/lib/Datepicker/bootstrap-datepicker.js"></script>-->
  <script src="/node_modules/angularjs-datepicker/src/js/angular-datepicker.js"></script> 

  <!--File Upload-->
  <script src="/node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
  
  <!--Time-Chart-->
  <script src="/node_modules/vis/dist/vis.js"></script>
  
  
