<!--<div>Admin Area</div>-->





<button style="margin-left: 45%;" type="button" class="btn btn-primary searchButtonColor" data-toggle="button" ng-click="addNewRss()">
   Add RSS <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>

<div class="container bootstrap snippet" ng-init="getRSSlist()">
 
    <div class="row" >
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content" style="width: 80%; margin-left: 10%;">
                    
                   <div class="media" ng-repeat="item in list">
                        <button type="button" class="close" ng-click="deleteItem($index)" aria-hidden="true">×</button>
                        <a class="media-heading">
                        <div class="greyColor"><strong>{{item.name}}</strong></div>
                        </a>
                        <small>{{item.rsslink}}</small>
                        <div class="hr-line-dashed" style="margin-bottom: 0.2em; margin-top: 0.2em;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>