<datemodal></datemodal>
<div class="container outer">
	<div class="row inner">
                
		<h2 style="text-align: center;" class="brandText">COMPETI&bull;<span class="brandTextRed">CORTEX</span></h2>                
                <div class="search-form">
                        <form>
                            <div class="input-group">
                                <input type="text" placeholder="Keywords" name="search" class="form-control input-lg" ng-model="keywords" ng-enter="clickSearch(settings, keywords)">
                                <div class="input-group-btn">
                                    <button class="btn btn-lg btn-primary searchButtonColor" type="button" ng-click="clickSearch(settings, keywords)">
                                        <span class=" glyphicon glyphicon-search"></span> Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
        
        <settings></settings>

	</div>
</div>

